/* <===================TYPOGRAPHY & FONTS===================> */

@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap');

/* <===================CSS VARIABLES===================> */

:root{
    --h1-size: 7rem;
    --h2-size: 2.1rem;
    --h3-size: 1.7rem;
    --text-size: 1.3rem;
    --horizontal-margin-spacing:6rem;
    --grey-color-light: rgba(232,230,230,.6);
    --grey-color: rgba(232,230,230,1);
}

/* <===================UNIVERSAL CSS===================> */

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #212121;
}
html{
    scroll-behavior: smooth;
}
.hz-margin{
    padding: 0 var(--horizontal-margin-spacing);
}
h1{
    font-size: var(--h1-size);
    font-weight: 500;
    line-height: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
    font-weight: bold;
}
h3{
    font-size: var(--h3-size);
    font-weight: 500;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
.text{
    font-family: 'Quicksand', sans-serif;
    font-size: var(--text-size);
    line-height: 1.3rem;
}
.huge-btn{
    display: block;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #212121;
    padding: 25px 50px;
    border-radius: 50px;
    width: fit-content;
    margin: 30px 0;
}
.huge-btn:hover{
    color: grey;
    border-color: grey;
}
.v-reposition-container{
    position: absolute;
    left: 0;
    width: 100vw;
}
.h-reposition-container{
    width: 100vw;
    position: relative;
    top: 100vh;
}
.h2-special {
    text-align: center;
    font-family: 'Nyght Serif Dark' !important; 
    font-size: 3em;
    font-weight: bold; 
    font-style: italic;
    margin-left:15%
}
/* <===================NAVBAR===================> */

nav{
    height: 3vh;
    width: 100%;
    margin-bottom: 20vh;
}
label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 0 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
a:hover{
    color: orange;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:1000px){
    label.logo{
        font-size: 20px;
    }
    nav ul li a{
        font-size: 10px;
    }
    html{
        font-size: 10px;
    }
}
@media (max-width:570px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        top: 80px;
        font-weight: bold;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav li ul a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: grey;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/* <===================COUNTDOWN===================> */
.countdown-container {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
  }
  
  .days-container,
  .hours-container,
  .minutes-container, 
  .seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
    border: 5px solid rgba(255,255,255,0.3);
    width: 140px;
    height: 140px;
    border-radius: 90px;
  }
  
  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 4.5em; 
    margin: 0px 0;
  }
  
  
  .days-label,
  .hours-label,
  .minutes-label,
  .seconds-label {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 1.0em;
  }
  
  @media (max-width: 700px) {
    
    .countdown-container {
      max-width: 100%;
    }
    
    .days-container,
    .hours-container,
    .minutes-container, 
    .seconds-container {
      font-size: 0.8em;
      width: 80px;
      height: 80px;
    }
  }

/* <===================HOME===================> */

.container-out{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.home-img{
    background-image: url('images/picHome.jpg');
    background-size: cover;
    background-position: center;
}
.home-img-sm{
    display: none;
    width: 100%;
    margin: 20px 0 0 0;
    height: 60vh;
}
#home-img-lg{
    display: block;
    height: 110vh;
    width: 50vw;
    background-position-x: -100px;
}
@media (max-width:1000px){
    .container-out{
        flex-direction: column;
    }
    .home-img-sm{
        display: block;
    }
    #home-img-lg{
        display: none;
    }
}

/* <===================TIMELINE===================> */

.timeline{
    display: block;
    background-color: var(--grey-color-light);
    float: left;
    position: relative;
    top: -30vh;
    width: 100%;
    backdrop-filter: blur(4px);
    padding: 8vh var(--horizontal-margin-spacing);
}
.timeline-container{
    display: flex;
    flex-direction: row;
    margin: 8vh 0;
}
.timeline-img{
    background-image: url('images/picTimeline.jpg');
    height: 70vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
}
.timing-img01{
    background-image: url('images/timing01.png');
    height: 15vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timing-img02{
    background-image: url('images/timing02.png');
    height: 15vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timing-img03{
    background-image: url('images/timing03.png');
    height: 15vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timing-img04{
    background-image: url('images/timing04.png');
    height: 15vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timing-img05{
    background-image: url('images/timing05.png');
    height: 15vh;
    width: 40vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timing-img06{
    background-image: url('images/timing06.png');
    height: 15vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timing-img07{
    background-image: url('images/timing07.png');
    height: 15vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timing-img08{
    background-image: url('images/timing08.png');
    height: 15vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
    margin-left: 60px;
}
.timings{
    margin: 30px;
}
.timeline-container .text{
    padding: 1rem 0 1rem 4rem;
}
@media (max-width:1000px){
    .timeline{
        background-color: var(--grey-color);
        float: none;
        position: relative;
        top: 0;
        width: 100%;
        backdrop-filter: blur(0);
        height: fit-content;
    }
    .timeline-container{
        flex-direction: column;
    }
    .timeline-img{
        height: 50vh;
        width: 100%;
    }
}

/* <===================EVENT===================> */

.event{
    display: block;
    background-color: var(--grey-color-light);
    float: left;
    position: relative;
    top: -30vh;
    width: 100%;
    backdrop-filter: blur(4px);
    padding: 8vh var(--horizontal-margin-spacing);
}

.event-container{
    display: flex;
    flex-direction: row;
    margin: 8vh 0;
}

.eventings{
    margin: 100px;
}

.event-container .text{
    padding: 1rem 0 1rem 4rem;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }
/* <===================STORY===================> */

#story{
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    margin: 10vh 0;
}
#story h3{
    width: 40vw;
}
#story p{
    width: 40vw;
    text-align: justify;
    font-size: var(--h3-size);
    line-height: var(--h3-size);
}
@media (max-width:1000px){
    .h-reposition-container{
        position: relative;
        top: 0;
    }
    #story{
        flex-direction: column;
    }
    #story h3{
        width: 100%;
        margin: 5px 0;
        font-size: var(--h3-size);
    }
    #story p{
        width: 100%;
        margin: 5px 0;
        font-size: var(--text-size);
        line-height: var(--text-size);
    }
}

/* <===================GALLERY===================> */

.gallery{
    display: flex;
    padding: 20vh 0;
    justify-content: center;
    align-items: center;
}
.gallery-img{
    width: 30vw;
    height: 30vw;
    margin: 10px;
    background-size: cover;
    background-position: center;
}
.gallery-img:nth-child(1){
    background-image: url('images/picGallery1.jpg');
    background-position-x: right;
}
.gallery-img:nth-child(3){
    background-image: url('images/picGallery2.jpg');
}
.gallery-img:nth-child(2){
    background-position-y: top;
    background-image: url('images/picGallery3.jpg');
}
@media (max-width:1000px){
    .gallery{
        flex-direction: column;
        padding: 0;
    }
    .gallery-img{
        width: 100vw;
        height: 50vw;
        margin: 2px 0;
    }
    .gallery-img:nth-child(2){
        position: relative;
        left: -(var(--horizontal-margin-spacing));
    }
}

/* <===================QUOTE===================> */
.quote{
    margin: 10vh 0;
}
.quote h1{
    width: 55vw;
    font-size: 4rem;
    text-align: center;
    margin: auto;
}
.author{
    text-align: center;
    margin: 20px 0 10vh 0;
}
@media (max-width:1570px){
    .quote h1{
        font-size: 2rem;
        line-height: 2rem;
    }
}

/* <===================HANDS===================> */

.hands{
    height: 120vh;
    width: 100%;
    background-image: url('images/picHands.jpg');
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

    /* <===================STAY===================> */
    #stay{
        background-color: var(--grey-color);
        padding: 10vh var(--horizontal-margin-spacing);
        width: 100%;
}
.stay-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20vh 0;
}
.stay-item .text{
    margin: 20px 0;
}
.links{
    cursor: pointer;
    text-decoration: underline;
}
@media (max-width:1000px){
    .stay-container{
        flex-direction: column;
        margin: 10px 0;
    }
    .stay-item{
        margin: 2vh 0;
    }
}

/* <===================REGISTRY===================> */

#registry{
    padding: 20vh var(--horizontal-margin-spacing) 0 var(--horizontal-margin-spacing); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.registry-container{
    display: block;
    width: 30vw;
}
.registry-container .text{
    text-align: justify;
    margin: 20px 0;
}
.registry-img{
    display: block;
    height: 100vh;
    width: 40vw;
    background-image: url('images/picRegistry.jpg');
    background-size: cover;
    background-position-y: top;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}
.registry-img-sm{
    display: none;
}
.registry-img-lg{
    display: block;
}
@media (max-width:700px){
    #registry{
        flex-direction: column;
    }
    .registry-img{
        width: 100%;
        height: 70vh;
    }
    .registry-img-sm{
        margin-top: 10vh;
        display: block;
    }
    .registry-img-lg{
        display: none;
    }
    .registry-container{
        width: 100%;
    }
    #registry button{
        margin-inline: auto;
    }
}

/* <===================COUNTER ===================> */
.count-sec {
    min-height: 200px;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.count-sec .count-overlay {
    background-color: #2f2f2f;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.count-sec .count-content .count-li {
    cursor: pointer;
}

.count-sec .num {
    color: #FFFFFF;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}

.count-sec .heading {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.count-sec .text-des {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* <===================PARTING MESSAGE===================> */
.parting-message h1{
    margin-top: 10vh;
    text-align: center;
}
.parting-message button{
    margin:  10vh auto;
}

/* <===================FOOTER===================> */

footer{
    margin-top: 20vh;
    height: fit-content;
    width: 100%;
    background-color: var(--grey-color);
    padding: 10vh 30px;
}
footer h2{
    font-size: 2Srem;
    font-weight: normal;
}



/* <===================INPUT===================> */
input:invalid {
    border: 2px dashed red;
  }
  
  input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  input:valid {
    border: 2px solid black;
  }

/* <======================================> */
.np-section{margin-top:32px;margin-top:var(--size-32)}
.np-section--with-horizontal-padding{padding-left:16px;padding-left:var(--space-content-horizontal);padding-right:16px;padding-right:var(--space-content-horizontal)}
.np-section--with-horizontal-padding{padding-right:1rem;padding-left:1rem}
@media(min-width:768px){.np-section--with-horizontal-padding{padding-right:0;padding-left:0}}

.h1,.h2,.h3,.h4,.h5,.h6,.np-text-title-body,.np-text-title-group,.np-text-title-screen,.np-text-title-section,.np-text-title-subsection,.title-1,.title-2,.title-3,.title-4,.title-5,h1,h2,h3,h4,h5,h6{color:#37517e;color:var(--color-content-primary);letter-spacing:0;line-height:1.2;line-height:var(--line-height-title);margin:0}
.h1+ol:not(.list-unstyled),.h1+p,.h1+ul:not(.list-unstyled),.h2+ol:not(.list-unstyled),.h2+p,.h2+ul:not(.list-unstyled),.h3+ol:not(.list-unstyled),.h3+p,.h3+ul:not(.list-unstyled),.h4+ol:not(.list-unstyled),.h4+p,.h4+ul:not(.list-unstyled),.h5+ol:not(.list-unstyled),.h5+p,.h5+ul:not(.list-unstyled),.h6+ol:not(.list-unstyled),.h6+p,.h6+ul:not(.list-unstyled),.np-text-title-body+ol:not(.list-unstyled),.np-text-title-body+p,.np-text-title-body+ul:not(.list-unstyled),.np-text-title-group+ol:not(.list-unstyled),.np-text-title-group+p,.np-text-title-group+ul:not(.list-unstyled),.np-text-title-screen+ol:not(.list-unstyled),.np-text-title-screen+p,.np-text-title-screen+ul:not(.list-unstyled),.np-text-title-section+ol:not(.list-unstyled),.np-text-title-section+p,.np-text-title-section+ul:not(.list-unstyled),.np-text-title-subsection+ol:not(.list-unstyled),.np-text-title-subsection+p,.np-text-title-subsection+ul:not(.list-unstyled),.title-1+ol:not(.list-unstyled),.title-1+p,.title-1+ul:not(.list-unstyled),.title-2+ol:not(.list-unstyled),.title-2+p,.title-2+ul:not(.list-unstyled),.title-3+ol:not(.list-unstyled),.title-3+p,.title-3+ul:not(.list-unstyled),.title-4+ol:not(.list-unstyled),.title-4+p,.title-4+ul:not(.list-unstyled),.title-5+ol:not(.list-unstyled),.title-5+p,.title-5+ul:not(.list-unstyled),h1+ol:not(.list-unstyled),h1+p,h1+ul:not(.list-unstyled),h2+ol:not(.list-unstyled),h2+p,h2+ul:not(.list-unstyled),h3+ol:not(.list-unstyled),h3+p,h3+ul:not(.list-unstyled),h4+ol:not(.list-unstyled),h4+p,h4+ul:not(.list-unstyled),h5+ol:not(.list-unstyled),h5+p,h5+ul:not(.list-unstyled),h6+ol:not(.list-unstyled),h6+p,h6+ul:not(.list-unstyled){margin-top:8px;margin-top:var(--size-8)}
.h5,.h6,.np-text-title-group,.title-5,h5,h6{font-size:.875rem;font-size:var(--font-size-14);font-weight:500;font-weight:var(--font-weight-medium);letter-spacing:-.006em;line-height:140%}

p{margin:0 0 16px;margin:0 0 var(--size-16)}
p+.h1,p+.h2,p+.h3,p+.h4,p+.h5,p+.h6,p+.np-text-title-body,p+.np-text-title-group,p+.np-text-title-screen,p+.np-text-title-section,p+.np-text-title-subsection,p+.title-1,p+.title-2,p+.title-3,p+.title-4,p+.title-5,p+h1,p+h2,p+h3,p+h4,p+h5,p+h6{margin-bottom:8px;margin-bottom:var(--size-8);margin-top:0}

.bg-accent .h1,.bg-accent .h2,.bg-accent .h3,.bg-accent .h4,.bg-accent .h5,.bg-accent .h6,.bg-accent .np-text-title-body,.bg-accent .np-text-title-group,.bg-accent .np-text-title-screen,.bg-accent .np-text-title-section,.bg-accent .np-text-title-subsection,.bg-accent .title-1,.bg-accent .title-2,.bg-accent .title-3,.bg-accent .title-4,.bg-accent .title-5,.bg-accent h1,.bg-accent h2,.bg-accent h3,.bg-accent h4,.bg-accent h5,.bg-accent h6,.bg-accent strong,.bg-info .h1,.bg-info .h2,.bg-info .h3,.bg-info .h4,.bg-info .h5,.bg-info .h6,.bg-info .np-text-title-body,.bg-info .np-text-title-group,.bg-info .np-text-title-screen,.bg-info .np-text-title-section,.bg-info .np-text-title-subsection,.bg-info .title-1,.bg-info .title-2,.bg-info .title-3,.bg-info .title-4,.bg-info .title-5,.bg-info h1,.bg-info h2,.bg-info h3,.bg-info h4,.bg-info h5,.bg-info h6,.bg-info strong,.bg-primary .h1,.bg-primary .h2,.bg-primary .h3,.bg-primary .h4,.bg-primary .h5,.bg-primary .h6,.bg-primary .np-text-title-body,.bg-primary .np-text-title-group,.bg-primary .np-text-title-screen,.bg-primary .np-text-title-section,.bg-primary .np-text-title-subsection,.bg-primary .title-1,.bg-primary .title-2,.bg-primary .title-3,.bg-primary .title-4,.bg-primary .title-5,.bg-primary h1,.bg-primary h2,.bg-primary h3,.bg-primary h4,.bg-primary h5,.bg-primary h6,.bg-primary strong{color:#fff}.d-block{display:block!important}

.np-header{align-items:flex-end;border-bottom:1px solid #0000001a;border-bottom:1px solid var(--color-border-neutral);display:flex;justify-content:space-between;margin-bottom:8px;margin-bottom:var(--size-8);max-width:100%;padding:8px 0;padding:var(--size-8) 0}
.np-header__title{color:#5d7079;color:var(--color-content-secondary)}
.np-theme-personal .np-header{column-gap:24px;column-gap:var(--size-24)}
.np-theme-personal .np-header__button{margin-inline:-16px;margin-inline:calc(var(--size-16)*-1);margin-bottom:-4px;margin-bottom:calc(var(--size-4)*-1)}

.m-b-3,.m-y-3{margin-bottom:24px!important;margin-bottom:var(--size-24)!important}
.np-theme-personal .droppable-area .droppable-default-card .m-b-3{margin-bottom:16px!important;margin-bottom:var(--padding-small)!important}

.tw-definition-list__item dd{word-break:break-all;word-break:break-word}
.tw-definition-list__action{align-self:center;flex-shrink:0}
.tw-definition-list__button{margin-top:-50%}
@media(max-width:576px){.tw-definition-list--right-aligned-desktop{justify-content:space-between}}
@media(min-width:576px){.tw-definition-list--right-aligned-desktop{justify-content:flex-end}.tw-definition-list.tw-definition-list--columns{flex-wrap:wrap}.tw-definition-list.tw-definition-list--columns .tw-definition-list__item{width:50%}.tw-definition-list.tw-definition-list--horizontal .tw-definition-list__item{display:flex}.tw-definition-list.tw-definition-list--horizontal .tw-definition-list__item dt{flex:1 1;margin-right:8px;margin-right:var(--size-8);max-width:30%;min-width:150px}[dir=rtl] .tw-definition-list.tw-definition-list--horizontal .tw-definition-list__item dt{margin-left:8px;margin-left:var(--size-8);margin-right:0}.tw-definition-list.tw-definition-list--horizontal .tw-definition-list__item dd{align-items:center;flex:1 1;margin-bottom:8px;margin-bottom:var(--size-8)}}
.np-theme-personal .tw-definition-list dt{color:#5d7079;color:var(--color-content-secondary)}

.d-flex{display:flex}
.d-inline-flex{display:inline-flex}
.flex-column{flex-direction:column}
.flex-row{flex-direction:row}
.justify-content-start{justify-content:flex-start}
.justify-content-end{justify-content:flex-end}
.justify-content-center{justify-content:center}
.justify-content-between{justify-content:space-between}
.justify-content-around{justify-content:space-around}
@media(min-width:576px){.d-flex--sm{display:flex}.d-inline-flex--sm{display:inline-flex}.flex-column--sm{flex-direction:column}.flex-row--sm{flex-direction:row}.justify-content-start--sm{justify-content:flex-start}.justify-content-end--sm{justify-content:flex-end}.justify-content-center--sm{justify-content:center}.justify-content-between--sm{justify-content:space-between}.justify-content-around--sm{justify-content:space-around}.align-items-start--sm{align-items:flex-start}.align-items-end--sm{align-items:flex-end}.align-items-center--sm{align-items:center}.align-items-baseline--sm{align-items:baseline}.align-items-stretch--sm{align-items:stretch}.align-self-start--sm{align-self:flex-start}.align-self-end--sm{align-self:flex-end}.align-self-center--sm{align-self:center}.align-self-baseline--sm{align-self:baseline}.align-self-stretch--sm{align-self:stretch}.flex-nowrap--sm{flex-wrap:nowrap}.flex-wrap--sm{flex-wrap:wrap}.order-0--sm{order:0}.order-1--sm{order:1}.order-2--sm{order:2}.order-3--sm{order:3}.flex-grow-1--sm{flex-grow:1}}
@media(min-width:768px){.d-flex--md{display:flex}.d-inline-flex--md{display:inline-flex}.flex-column--md{flex-direction:column}.flex-row--md{flex-direction:row}.justify-content-start--md{justify-content:flex-start}.justify-content-end--md{justify-content:flex-end}.justify-content-center--md{justify-content:center}.justify-content-between--md{justify-content:space-between}.justify-content-around--md{justify-content:space-around}.align-items-start--md{align-items:flex-start}.align-items-end--md{align-items:flex-end}.align-items-center--md{align-items:center}.align-items-baseline--md{align-items:baseline}.align-items-stretch--md{align-items:stretch}.align-self-start--md{align-self:flex-start}.align-self-end--md{align-self:flex-end}.align-self-center--md{align-self:center}.align-self-baseline--md{align-self:baseline}.align-self-stretch--md{align-self:stretch}.flex-nowrap--md{flex-wrap:nowrap}.flex-wrap--md{flex-wrap:wrap}.order-0--md{order:0}.order-1--md{order:1}.order-2--md{order:2}.order-3--md{order:3}.flex-grow-1--md{flex-grow:1}}
@media(min-width:992px){.d-flex--lg{display:flex}.d-inline-flex--lg{display:inline-flex}.flex-column--lg{flex-direction:column}.flex-row--lg{flex-direction:row}.justify-content-start--lg{justify-content:flex-start}.justify-content-end--lg{justify-content:flex-end}.justify-content-center--lg{justify-content:center}.justify-content-between--lg{justify-content:space-between}.justify-content-around--lg{justify-content:space-around}.align-items-start--lg{align-items:flex-start}.align-items-end--lg{align-items:flex-end}.align-items-center--lg{align-items:center}.align-items-baseline--lg{align-items:baseline}.align-items-stretch--lg{align-items:stretch}.align-self-start--lg{align-self:flex-start}.align-self-end--lg{align-self:flex-end}.align-self-center--lg{align-self:center}.align-self-baseline--lg{align-self:baseline}.align-self-stretch--lg{align-self:stretch}.flex-nowrap--lg{flex-wrap:nowrap}.flex-wrap--lg{flex-wrap:wrap}.order-0--lg{order:0}.order-1--lg{order:1}.order-2--lg{order:2}.order-3--lg{order:3}.flex-grow-1--lg{flex-grow:1}}
@media(min-width:1200px){.d-flex--xl{display:flex}.d-inline-flex--xl{display:inline-flex}.flex-column--xl{flex-direction:column}.flex-row--xl{flex-direction:row}.justify-content-start--xl{justify-content:flex-start}.justify-content-end--xl{justify-content:flex-end}.justify-content-center--xl{justify-content:center}.justify-content-between--xl{justify-content:space-between}.justify-content-around--xl{justify-content:space-around}.align-items-start--xl{align-items:flex-start}.align-items-end--xl{align-items:flex-end}.align-items-center--xl{align-items:center}.align-items-baseline--xl{align-items:baseline}.align-items-stretch--xl{align-items:stretch}.align-self-start--xl{align-self:flex-start}.align-self-end--xl{align-self:flex-end}.align-self-center--xl{align-self:center}.align-self-baseline--xl{align-self:baseline}.align-self-stretch--xl{align-self:stretch}.flex-nowrap--xl{flex-wrap:nowrap}.flex-wrap--xl{flex-wrap:wrap}.order-0--xl{order:0}.order-1--xl{order:1}.order-2--xl{order:2}.order-3--xl{order:3}.flex-grow-1--xl{flex-grow:1}}
.np-option-content .d-flex:last-child{max-width:calc(100% - 32px)}